$grey-9: #111827;
$grey-8: #1f2937;
$grey-7: #374151;
$grey-6: #4b5563;
$grey-5: #6b7280;
$grey-4: #9ca3af;
$grey-3: #d1d5db;
$grey-2: #e5e7eb;
$grey-1: #f3f4f6;
$grey-0: #f9fafb;

$red-9: #7f1d1d;
$red-8: #991b1b;
$red-7: #b91c1c;
$red-6: #dc2626;
$red-5: #ef4444;
$red-4: #f87171;
$red-3: #fca5a5;
$red-2: #fecaca;
$red-1: #fee2e2;
$red-0: #fef2f2;

$yellow-9: #78350f;
$yellow-8: #92400e;
$yellow-7: #b45309;
$yellow-6: #d97706;
$yellow-5: #f59e0b;
$yellow-4: #fbbf24;
$yellow-3: #fcd34d;
$yellow-2: #fde68a;
$yellow-1: #fef3c7;
$yellow-0: #fffbeb;

$green-9: #064e3b;
$green-8: #065f46;
$green-7: #047857;
$green-6: #059669;
$green-5: #10b981;
$green-4: #34d399;
$green-3: #6ee7b7;
$green-2: #a7f3d0;
$green-1: #d1fae5;
$green-0: #ecfdf5;

$blue-9: #1e3a8a;
$blue-8: #1e40af;
$blue-7: #1d4ed8;
$blue-6: #2563eb;
$blue-5: #3b82f6;
$blue-4: #60a5fa;
$blue-3: #93c5fd;
$blue-2: #bfdbfe;
$blue-1: #dbeafe;
$blue-0: #eff6ff;

$indigo-9: #312e81;
$indigo-8: #3730a3;
$indigo-7: #4338ca;
$indigo-6: #4f46e5;
$indigo-5: #6366f1;
$indigo-4: #818cf8;
$indigo-3: #a5b4fc;
$indigo-2: #c7d2fe;
$indigo-1: #e0e7ff;
$indigo-0: #eef2ff;

$purple-9: #4c1d95;
$purple-8: #5b21b6;
$purple-7: #6d28d9;
$purple-6: #7c3aed;
$purple-5: #8b5cf6;
$purple-4: #a78bfa;
$purple-3: #c4b5fd;
$purple-2: #ddd6fe;
$purple-1: #ede9fe;
$purple-0: #f5f3ff;

$pink-9: #831843;
$pink-8: #9d174d;
$pink-7: #be185d;
$pink-6: #db2777;
$pink-5: #ec4899;
$pink-4: #f472b6;
$pink-3: #f9a8d4;
$pink-2: #fbcfe8;
$pink-1: #fce7f3;
$pink-0: #fdf2f8;

$xs: 375px;
$sm: 576px;
$md: 650px;
$mlg: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1600px;

$txt-1: 0.625rem; // 10px
$txt-2: 0.75rem; // 12px
$txt-3: 0.875rem; // 14px
$txt-4: 1rem; // 16px
$txt-5: 1.125rem; // 18px
$txt-6: 1.25rem; // 20px
$txt-7: 1.5rem; // 24px
$txt-8: 1.75rem; // 28px
$txt-9: 2rem; // 32px
$txt-10: 3rem; // 48px

$lh-1: 1;
$lh-2: 1.2;
$lh-3: 1.5;
$lh-4: 1.75;
$lh-5: 2;

$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;

$sp-1: 0.25rem; // 4px
$sp-2: 0.5rem; // 8px
$sp-3: 0.75rem; // 12px
$sp-4: 1rem; // 16px
$sp-5: 1.5rem; // 24px
$sp-6: 2rem; // 32px
$sp-7: 3rem; // 48px
$sp-8: 4rem; // 64px
$sp-9: 6rem; // 96px

$font-sans: "system-ui", "BlinkMacSystemFont", "-apple-system", "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", "sans-serif";
$font-serif: "Georgia", "Cambria", "Times New Roman", Times, serif;
$font-mono: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New",
  "monospace";

$greys: (
  grey-1: $grey-1,
  grey-2: $grey-2,
  grey-3: $grey-3,
  grey-4: $grey-4,
  grey-5: $grey-5,
  grey-6: $grey-6,
  grey-7: $grey-7,
  grey-8: $grey-8,
  grey-9: $grey-9,
);
$reds: (
  red-1: $red-1,
  red-2: $red-2,
  red-3: $red-3,
  red-4: $red-4,
  red-5: $red-5,
  red-6: $red-6,
  red-7: $red-7,
  red-8: $red-8,
  red-9: $red-9,
);
$yellows: (
  yellow-1: $yellow-1,
  yellow-2: $yellow-2,
  yellow-3: $yellow-3,
  yellow-4: $yellow-4,
  yellow-5: $yellow-5,
  yellow-6: $yellow-6,
  yellow-7: $yellow-7,
  yellow-8: $yellow-8,
  yellow-9: $yellow-9,
);
$greens: (
  green-1: $green-1,
  green-2: $green-2,
  green-3: $green-3,
  green-4: $green-4,
  green-5: $green-5,
  green-6: $green-6,
  green-7: $green-7,
  green-8: $green-8,
  green-9: $green-9,
);
$blues: (
  blue-1: $blue-1,
  blue-2: $blue-2,
  blue-3: $blue-3,
  blue-4: $blue-4,
  blue-5: $blue-5,
  blue-6: $blue-6,
  blue-7: $blue-7,
  blue-8: $blue-8,
  blue-9: $blue-9,
);
$indigos: (
  indigo-1: $indigo-1,
  indigo-2: $indigo-2,
  indigo-3: $indigo-3,
  indigo-4: $indigo-4,
  indigo-5: $indigo-5,
  indigo-6: $indigo-6,
  indigo-7: $indigo-7,
  indigo-8: $indigo-8,
  indigo-9: $indigo-9,
);
$purples: (
  purple-1: $purple-1,
  purple-2: $purple-2,
  purple-3: $purple-3,
  purple-4: $purple-4,
  purple-5: $purple-5,
  purple-6: $purple-6,
  purple-7: $purple-7,
  purple-8: $purple-8,
  purple-9: $purple-9,
);
$pinks: (
  pink-1: $pink-1,
  pink-2: $pink-2,
  pink-3: $pink-3,
  pink-4: $pink-4,
  pink-5: $pink-5,
  pink-6: $pink-6,
  pink-7: $pink-7,
  pink-8: $pink-8,
  pink-9: $pink-9,
);

$widths: (
  xs: $xs,
  sm: $sm,
  md: $md,
  mlg: $mlg,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);
$line-heights: (
  1: $lh-1,
  2: $lh-2,
  3: $lh-3,
  4: $lh-4,
  5: $lh-5,
);
$text-sizes: (
  1: $txt-1,
  2: $txt-2,
  3: $txt-3,
  4: $txt-4,
  5: $txt-5,
  6: $txt-6,
  7: $txt-7,
  8: $txt-8,
  9: $txt-9,
  10: $txt-10,
);
$font-weights: (
  1: $fw-1,
  2: $fw-2,
  3: $fw-3,
  4: $fw-4,
  5: $fw-5,
  6: $fw-6,
  7: $fw-7,
  8: $fw-8,
  9: $fw-9,
);
$margins: (
  0: 0,
  1: $sp-1,
  2: $sp-2,
  3: $sp-2,
  4: $sp-4,
  5: $sp-5,
  6: $sp-6,
  7: $sp-7,
  8: $sp-8,
  9: $sp-9,
  auto: auto,
);
$paddings: (
  0: 0,
  1: $sp-1,
  2: $sp-2,
  3: $sp-2,
  4: $sp-4,
  5: $sp-5,
  6: $sp-6,
  7: $sp-7,
  8: $sp-8,
  9: $sp-9,
);
$breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  mlg: $mlg,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);
